- name: enable nodejs 20
  ansible.builtin.command: dnf module enable nodejs:20 -y        #this doesn't need shell(don't need '|' '>')

- name: install nodejs
  ansible.builtin.dnf:
    name: nodejs
    state: present

- name: install dependencies
  community.general.npm:
    path: /app 